
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #342e2e;
    color: rgb(23 57 79);
    padding: 4px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }
  
  header .logo {
    font-size: 27px;
    font-family: initial;
    color: #e94a0d;
  }
  
  .nav {
    margin-left: 397px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
   
    font-weight: 600;
  }
  
  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    paddin: 0;
  }
  
  .nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #3DA35D;
  }
 
  header nav {
    display: flex;
    align-items: center; 
  }
  
  .cta-button {
    background-color: #f04e30;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .hero {
    background-image: url("sky.jpg");
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
  .hero h1 {
    font-size: 50px;
    font-style: italic;
    margin-left: 145px;
   
  }
  
  .hero p {
    font-size: 20px;
    color:#01346c;
    margin-left: 43px;
    margin-top: -31px;
  }
  
  .hero-button {
    background-color: #f04e30;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .section {
    padding: 50px;
    text-align: center;
  }
  
  #services .services-container {
    display: flex;
    justify-content: space-around;
  } 
  .service {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
  }  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  